<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<ul>
    <% for(let i=0;i<stuList.length;i++) {%>
    <li>id<%= stuList[i].id %></li>
    <li>name<%=stuList[i].name %></li>
    <li>age<%=stuList[i].age %></li>
    <li>gender<%=stuList[i].gender %></li>
    <%} %>

</ul>
</body>
</html>